<h2>edits</h2>

<form action="/restaurants/{{edits.id}}/edit" method="POST">
  <input type="text" placeholder="name" name="name" value="{{edits.name}}">
  <button type="submit">send</button>
  <a href="/">back</a>
</form>



